<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZOO_VER2"
        tools:targetApi="31">

        <activity
            android:name=".TrangChu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DongVat">

        </activity>

        <activity
            android:name=".BanDo">

        </activity>

        <activity
            android:name=".ThemDongVat">
        </activity>

        <activity
            android:name=".XoaDongVat">
        </activity>

        <activity
            android:name=".ThongTinChiTiet">
        </activity>

    </application>

</manifest>